# Core
chromadb
streamlit==1.56.0
watchdog==6.0.0

# LlamaIndex
llama-index-core
llama-index-readers-file
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-vector-stores-chroma
llama-index-postprocessor-flag-embedding-reranker

# PDF
pymupdf

# Reranker
sentence-transformers
